@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300&display=swap');

.search-box{
    flex-basis: 50%;
    background-color: rgb(30 41 59);
}

.input-container{
    display: grid;
    justify-content: center;
    padding: 15px 45px 15px 15px;
}


.searchInput{
    background-image:url("../Assets/search-icon.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 25px;
    width: 13rem;
    padding: 8px;
    border-radius: 8px;
    background-color: rgb(30 41 59);
    transition: all .2s ease-out;
    color: white;
}

.searchInput::placeholder{
    font-family: 'Rajdhani', sans-serif;
    letter-spacing: 3px;
    font-weight: 700;
}

.searchInput::-webkit-search-cancel-button{
    position:relative;
    margin-bottom: 1px;
    margin-right: 5px;
}

.searchInput:hover{
    transition: all .05s ease-out;
    background-color: rgb(64, 82, 112);
}