@tailwind base;
@tailwind components;
@tailwind utilities;

/* Full page background */
body{
    background-color: rgb(30 41 59);
}

/* Remove scrollbar when device is smaller than 700px */
@media only screen and (max-width: 700px){
    body{
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    body::-webkit-scrollbar{
        display: none;
    }
}